// PWM output on the beaglebone blue

#include "bone/blue.h"
#include "subarctic/pinctrl.h"


//-------- GP0 pin 6 -- eCAP 2 -------------------------------------------------

&ocp {  P9_28_pinmux {  status = "disabled";  };  };

&ecap2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ecap2_pins>;
};

&am33xx_pinmux {
	ecap2_pins: ecap2 {
		pinctrl-single,pins = <
			PIN_OUT_PULLDOWN( GP0_6, 4 )
		>;
	};
};
