#include "subarctic/pinctrl.h"
#include "bone/pins.h"

USES_PIN( P9_19 );
USES_PIN( P9_20 );

&dcan0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins>;

	status = "okay";
};

&am33xx_pinmux {
	can0_pins: can0 {
		pinctrl-single,pins = <
			PIN_IN_PULLUP(  P9_19, 2 )  // rx
			PIN_OUT_PULLUP( P9_20, 2 )  // tx
		>;
	};
};
