// replacement for the AM335X-PRU-UIO-00A0 overlay
// compatible with kernel series 4.14-ti and 4.19-ti

&pruss_soc_bus {
	status = "okay";
	compatible = "simple-pm-bus", "ti,am3356-pruss-soc-bus";
	ti,deassert-hard-reset = "pruss", "pruss";
};

&pruss {
	status = "okay";
	compatible = "ti,pruss-v2";
	ti,pintc-offset = <0x20000>;
	// if you add these lines it'll be compatible with 4.9-ti and 4.19-ti
	// but it would no longer be compatible with 4.14-ti:
	//	reg = <0x4a300000 0x80000>;
	//	reg-names = "pruss";
};
